@import "@polymedia/suitcase-react/styles.css";

.earth-card {
	padding: 0;
}

.faqs {
	display: flex;
	flex-direction: column;
	gap: 2em;
	.faq-question {
		font-weight: bold;
		font-size: 1.2rem;
		padding-bottom: 0.5rem;
	}
	.faq-answer {
		color: #bbb;
	}
}
